# Python specific files
Osiris\processing\python\__pycache__\*
*.py[cod]
output/*
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Visual Studio Code
.vscode/
*.code-workspace

# Mine
data/*
images_video/*
*.png
*.mp4